/* You can add global styles to this file, and also import other style files */
body {
    background: url('/assets/images/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  } 

  .custom-body{
      margin-top:100px;
      min-width:90% !important;
  }